body{
	background-color:rgba(230,230,255,0.8);
	
}
h1{
	padding:5px;
	background-color:rgba(60,255,130,0.7);
	width:230px;
	text-shadow: rgb(250,0,0);
	color: red;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 8px;
}
td {
	padding:5px;
	background:#0ff;
	border:  5px solid #333;
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
	cursor: pointer;
	border-radius:8px;
}

table {
	margin:0 auto;
	border-collapse: collapse;
	top: 30px;
}



table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}
button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  

   position:absolute; 
   margin-left:-50px;
    margin-right:-50px;
   left:50%;
   width:100px;
   bottom:0px;
}

.endgame {
  display: none;
  width: 200px;
  top: 120px;
background-color: rgba(210,130,60,0.7);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}